{% extends 'template.base.twig' %}


{% block body %}
    <div class="row">
        {% for personne in personnes %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Prénom : {{ personne.firstname }}</h5>
                    <h5 class="card-text">Nom : {{ personne.name }}</h5>
                    <p class="card-text">Age : {{ personne.age }}</p>
                    <a href="{{ path('personne.detail', {id : personne.id}) }}" class="btn btn-primary"><i class="fa-solid fa-eye"></i></a>
                    <a href="{{ path('personne.add', {id : personne.id}) }}" class="btn btn-primary"><i class="fa-solid fa-user-pen"></i></a>
                    <a href="{{ path('personne.supprimer', {id : personne.id}) }}" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>


<div class="row mt-3">

    {% if pagination is defined and pagination %}
        <nav aria-label="Page navigation example">
            <ul class="col pagination">
                {% if page != 1%}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('personne.listAll', {page: page-1, nbre:nbre}) }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for  i in range(1, nbrePage) %}
                    <li class="page-item"><a class="page-link" href="{{ path('personne.listAll', {page:i, nbre:nbre}) }}">{{ i }}</a></li>
                {% endfor %}

                {% if  page != nbrePage %}
                    <li class="page-item">
                        <a class="page-link" href="{{ path('personne.listAll', {page: page+1, nbre:nbre}) }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    {% endif %}
</div>

{% endblock %}


{% block PageTitle %}
    Liste des Personnes
{% endblock %}